- action_url = (new_user ? users_url : session_url)
- redirect_url = (new_user ? new_session_url : new_user_url)

- submit_btn_label = (new_user ? "Sign up »" : "Log in »")
- redirect_btn_label = (new_user ? "Log in »" : "Sign up »")

.container
  = render "shared/error"
  %form{ :action => "#{action_url}", :method => "POST" }
    %fieldset
      %input{ :type => "hidden",
              :name => "authenticity_token",
              :value => "#{form_authenticity_token}" }
      %input{ :type => "text",
              :placeholder => "Email",
              :name => "user[email]",
              :value => "#{@user.email}" }
      %input{ :type => "password",
              :placeholder => "Password",
              :name => "user[password]" }
      = input_for("#{@user.username}") if new_user
      %button{ :type => "submit" }="#{submit_btn_label}"
  = button_to(redirect_btn_label, redirect_url, :method => :get)
